<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/toastr.js/toastr.min.css"/>
    <link rel="stylesheet" href="~/css/Navbar.css" />


</head>
<body>
    <header class="header-area overlay">
        <nav class="navbar navbar-expand-lg navbar-dark ">
		    <div class="container" >			
			    <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#main-nav">
				    <span class="menu-icon-bar"></span>
				    <span class="menu-icon-bar"></span>
				    <span class="menu-icon-bar"></span>
			    </button>
			    <div id="main-nav" class="collapse navbar-collapse" >
				    <ul class="navbar-nav ml-auto">
					    <li><a href="@Url.Action("Index","Home")" class="nav-item nav-link active"><i class="fa-solid fa-house-chimney"></i> About US</a></li>
					    <li><a href="@Url.Action("Payton","Developers")" class="nav-item nav-link"><i class="fa-solid fa-person"></i> Payton Turnbow</a></li>
					    <li><a href="@Url.Action("Pruthvi","Developers")" class="nav-item nav-link"><i class="fa-solid fa-person"></i> Pruthvi Patel</a></li>
					    <li><a href="@Url.Action("Ragu","Developers")" class="nav-item nav-link"><i class="fa-solid fa-person"></i> Ragu Neopaney</a></li>
					    <li><a href="@Url.Action("Tyler","Developers")" class="nav-item nav-link"><i class="fa-solid fa-person"></i> Tyler Malovrh</a></li>
					    <li><a href="@Url.Action("Yeati","Developers")" class="nav-item nav-link"><i class="fa-solid fa-person"></i> Yeati Mishra</a></li>
					    <li><a href="@Url.Action("ContactUSHome","ContactUs")" class="nav-item nav-link"><i class="fa-solid fa-address-book"></i> Contact Us</a></li>
				    </ul>
			    </div>
		    </div>
	    </nav>
    </header>
         @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/js/NavBar.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/lib/font-awesome/js/fontawesome.min.js"></script>
    <script src="~/js/AboutUs.js"></script>
    <script src="~/js/RaguNeopaneyResume.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
